.store-filter__item-active .blue-svg {
    fill: #0300c7;
}

.store-filter__item-active .blue-svg1 {
    fill: #3a62a0;
}

.store-filter__item-active .yellow-svg {
    fill: #c5c100;
}

.store-filter__item-active .grey-svg {
    fill: #6c6c6c;
}

.store-filter__item-active .orange-svg {
    fill: #f4b728;
}

.store-filter__item-active .violet-svg {
    fill: #711298;
}

.store-filter__item-active .green-svg {
    fill: #01ca86;
}

.store-filter__item-active .black-svg {
    fill: #142030;
}

.store-filter__item-active .orange-svg1 {
    fill: #F7931A;
}

.store-filter__item-active .yellow-svg1 {
    fill: #DABF30;
}

.store-filter__item-active .green-svg1 {
    fill: #94CF65;
}