@media screen and (max-width: 1700px) {
  .container {
    max-width: 1400px;
  }
  .filter {
    max-width: 320px;
  }
  .products {
    margin-left: 320px;
  }

  .main-store__filters {
    max-width: 320px;
  }

  .main-store__products {
    margin-left: 320px;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-labels {
    gap: 5px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    max-width: 1140px;
  }

  .cart__wrapper {
    flex-direction: column;
  }
  .provides {
    padding: 1037px 0 116px;
  }
  .cart__actions {
    flex-direction: column;
    align-items: end;
  }

  .backsl {
    display: none;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .nav-header {
    flex-wrap: wrap;
  }

  .filter {
    max-width: 240px;
  }
  .products {
    margin-left: 240px;
  }
  .swiper-button-next {
    right: -19px !important;
  }
  .swiper-button-prev {
    left: -19px !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .adaptive-menu {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .filter {
    position: fixed;
    background: #121722;
    z-index: 3;
    max-width: 100%;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s all;
  }

  .filter-active {
    transform: translateX(0%) !important;
  }

  .active__all {
    display: block;
  }

  .filter__wrapper {
    padding: 80px 0 20px 20px;
  }
  .products {
    margin-left: 0px;
  }

  .main-store__filters {
    position: fixed;
    background: #121722;
    z-index: 3;
    max-width: 100%;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-200%);
    transition: 0.5s all;
  }

  .main-store__filters--wrap {
    padding: 80px 0 20px 20px;
  }

  .main-store__products {
    margin-left: 0;
  }

  .product-title {
    font-size: 20px;
  }

  .product__price {
    font-size: 18px;
  }

  .product-labels {
    margin-top: 18px;
  }

  .product-item__value {
    font-size: 20px;
  }
  .main-product__wrapper {
    gap: 80px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .product-slider {
    max-width: 320px;
  }
  .main-product__wrapper {
    gap: 36px;
  }
  .product-item__value {
    font-size: 16px;
  }
  .block-2 .product-title,
  .block-2 .product-item,
  .block-4 .product-title,
  .block-4 .product-item {
    padding-left: 0px;
  }
  .block-1 .product-title,
  .block-1 .product-item,
  .block-3 .product-title,
  .block-3 .product-item {
    padding-right: 0px;
  }

  .block-2,
  .block-4 {
    border-left: none;
  }

  .block-1,
  .block-2 {
    border-bottom: none;
  }

  .main-ip__wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .search {
    max-width: 270px;
  }

  .menu__element a {
    font-size: 16px;
  }

  .cart__desc {
    flex-wrap: wrap;
  }

  .cart__title {
    font-size: 25px;
    text-wrap: wrap;
  }

  .cart__subtitle {
    font-size: 18px;
  }
  .provides {
    padding: 1157px 0 116px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter {
    width: 60vw;
  }

  .main-store__filters {
    width: 60vw;
  }

  .info-sale__text,
  .info-sale__text a {
    font-size: 16px;
  }

  .calculator-filters {
    grid-template-columns: 1fr;
  }

  .main-product__wrapper {
    flex-direction: column;
    align-items: center;
  } 
  .product-slider {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }

  .search {
    max-width: 100%;
    margin: 0 auto;
  }

  .search input {
    width: 100%;
  }

  .nav-header__buttons {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
  }
  .menu {
    gap: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu__element {
    text-align: center;
  }

  .promo {
    padding: 100px 0px 330px;
  }

  .promo__desc {
    font-size: 22px;
  }

  .promo__carts {
    grid-template-columns: 1fr;
  }

  .provides {
    padding: 2056px 0 116px;
  }

  .provides__wrapper {
    grid-template-columns: 1fr;
  }

  .services {
    padding: 0 0 50px;
  }

  .service__title {
    font-size: 24px;
  }

  .service__desc {
    font-size: 16px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 22px;
  }
  .service__num {
    font-size: 26px;
  }
  .label {
    padding: 8px 18px;
    font-size: 16px;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }

  .main-store__products {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter {
    width: 80vw;
  }

  .store-filter__title {
    font-size: 16px;
  }

  .main-store__filters {
    width: 100vw;
  }

  .subtitle-main {
    font-size: 16px;
  }
  .result-calculator__price {
    font-size: 14px;
  }

  .product-item__label {
    font-size: 22px;
  }
  .product-item {
    gap: 30px;
    align-items: start;
  }
  .main-product__btn {
    display: flex;
    justify-content: center;
  }

  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}

@media screen and (max-width: 456px) {
  .provides {
    padding: 2196px 0 116px;
  }
}
